body{
    background-color: #F5F5F5;
}




.soical-meida{
    position: fixed;
    left: 0;
    top: 50%;
}



.min-section{
    margin-top: 80px;
}

.head-text{
    position:absolute ;
    top:60%;
    color:#fff;
}


.head-news{
    position: absolute;
    top: 1%;
}


.fa-facebook-f:hover{
    color:#1877f2;
}


.fa-twitter:hover{
    color:	#1DA1F2 ;
}

.fa-instagram:hover{
color:#c13584 ;
}


.fa-youtube:hover{
    color: #c4302b;
}
.fa-linkedin-in:hover {
    color: #0e76a8;
}

.fa-flipboard:hover{
    color: red;
}


.rgiht-col-new-pic
{
    width: 50%;
}


.imag-left-col-news{
    width: 100%;
    height: 80px;
    border-radius: 10%;
}


.card-content
{
    background-color: #282828;
}

.ecnomic-content ,
.tourism-content
{
    top: 75%;
}

